<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Mongoose News Scraper</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
  <link rel="stylesheet" href="assets/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Maiden+Orange" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Anton|Maiden+Orange" rel="stylesheet">
</head>

<body>
<div class="container-fluid jumbotron">
  <header>
  <h1>Wall Street Journal Tech News</h1>
</header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--<a class="navbar-brand" href="#">NewsScraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/scrape"><button type="button" class="btn btn-info">Scrape for News!</button></a>
      <!--<a class="nav-item nav-link" href="#">nav2</a>
      <a class="nav-item nav-link" href="#">nav3</a>
      <a class="nav-item nav-link disabled" href="#">nav4</a>-->
    </div>
  </div>
</nav>

</div>
  {{{ body }}}
</body>

</html>