
      body { 
        background-color: white;
      }

      .jumbotron {
          height: 140px;
          margin-top:0px;
          padding-top: 20px;
          background-color: white;
          background-image: url("https://thumbs.dreamstime.com/z/wall-street-journal-newspaper-montreal-canada-march-samsung-s-american-international-67689182.jpg");
      }
      header { 
        color: black;
        /*font-family: 'Maiden Orange', cursive;*/
        font-family: 'Anton', sans-serif;
        text-shadow: white 1px 2px;
        text-align: center;
    }
      #wrapper {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        
      }
      #
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px; 
      }
      #articles a{ color: black;}
      #articles p { 
        
        
      }
      .article-container {
        background-color: lightblue;
        padding: 5px;
        border: 1px solid black;
        margin: 10px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: #FCF5C7;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
   